<!DOCTYPE html>
<html ng-app="taxiApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>   
    <meta charset="utf-8" />
    <title>Booking Application</title>
</head>
<body ng-controller="bookingController">
    <h1>Taxi Booking Application</h1>
    <div ng-show="viewBookings">
            <ol>
                <li ng-repeat="booking in bookings ">
                    <p> ID: {{booking.Id}}<br />
                    Name: {{booking.PassengerName}}<br />
                     Pickup: {{booking.PickupLocation}}<br />
                    Drop off:{{booking.DropOffLocation}}<br />
                        VehicleId : {{booking.VehicleId}}<br />
                     current passenger: {{booking.CurrentPassenger}}<br />
                    </p>
   
                </li>
            </ol>
      </div>
    <button ng-click="openBookings()">View bookings</button>
    <button ng-click="closeBookings()">close bookings</button>

    <div ng-show="BookingsForm">
        <h2>Add Booking</h2>
        <p>
            <label>Passenger Name  <input ng-model="PassengerName" /></label><br />
            <label>Pickup Location  <input ng-model="PickupLocation" /></label><br />
            <label>Dropoff Location  <input ng-model="DropOffLocation" /></label><br />
            <label>VehicleId  <input ng-model="VehicleId" /></label><br />
            <label>Current passengers <input ng-model="CurrentPassenger" /></label><br />
            <button ng-click="addBooking()">Add</button><br />
        </p>
    </div>
    <button ng-click="viewBookingForm()">Add bookings</button>
    <button ng-click="closeBookingForm()">cancel</button>

        <script src="app/myApp.js"></script>
        <script src="app/booking/bookingModule.js"></script>
        <script src="app/booking/bookingController.js"></script>

</body>
</html>